.content_privacy{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Montserrat';
    margin-top: 2%;
    margin-bottom: 5%;
}

.content_privacy h1{
    color: #F58131;
    font-size: 42px;
}

.content_privacy p{
    font-size: 22px;
}

.content_privacy h2{
    font-size: 36px;
}

@media (max-width:1800px){
    .content_privacy h1{
        font-size: 38px;
    }
    
    .content_privacy p{
        font-size: 20px;
    }
    
    .content_privacy h2{
        font-size: 32px;
    }
}

@media (max-width:1300px){
    .content_privacy h1{
        font-size: 34px;
    }
    
    .content_privacy p{
        font-size: 18px;
    }
    
    .content_privacy h2{
        font-size: 28px;
    }
}

@media (max-width:1000px){
    .content_privacy h1{
        font-size: 30px;
    }
    
    .content_privacy p{
        font-size: 16px;
    }
    
    .content_privacy h2{
        font-size: 24px;
    }
}

@media (max-width:670px){
    .content_privacy h1{
        font-size: 28px;
    }
    
    .content_privacy p{
        font-size: 14px;
    }
    
    .content_privacy h2{
        font-size: 20px;
    }
}

@media (max-width:670px){
    .content_privacy h1{
        font-size: 26px;
    }
    
    .content_privacy p{
        font-size: 12px;
    }
    
    .content_privacy h2{
        font-size: 18px;
    }
}